{% extends 'app/layouts/main2.html' %}
{%  block title %}
Register | HrzFlix
{%  endblock %}
{% block content %}
{% include 'app/inc/message.html' %}

<div id="whole-content">
    <div class="form-wrapper"> 

        <h2>Register</h2>

        <form action="" method="post">
            {% csrf_token %}
            <div class="form-controll">
                {{ form.username }}
                <label for="">Username</label>
            </div>

            <div class="form-controll">
                {{ form.email }}
                <label for="">Email</label>
            </div>

            <div class="form-controll">
                {{form.password1}}
                <label for="">Password</label>
            </div>

            <div class="form-controll">
                {{ form.password2 }}
                <label for="">Confirm Password</label>
            </div>

            <button type="submit">Register</button>

        </form>

        <p class="text-center">Already have an account? <a href="{% url 'login' %}">Login</a></p>

    </div>
</div>

 <!-- Include jQuery -->
 <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

 <!-- Sweet Toast -->
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

     
{% if form.errors.username %}
<script>
    Swal.fire({
        icon: "error",
        title: "Oops...",
        text: '{{ form.errors.username|striptags }}',
        });
</script>
{% endif %}

{% if form.errors.email %}
<script>
    Swal.fire({
        icon: "error",
        title: "Oops...",
        text: '{{ form.errors.email|striptags }}',
        });
</script>
{% endif %}
{% if form.errors.password1 %}
<script>
    Swal.fire({
        icon: "error",
        title: "Oops...",
        text: '{{ form.errors.password1|striptags }}',
        });
</script>
{% endif %}
{% if form.errors.password2 %}
<script>
    Swal.fire({
        icon: "error",
        title: "Oops...",
        text: '{{ form.errors.password2|striptags }}',
        });
</script>
{% endif %}

{% endblock %}