{% load static %}
<div id="carouselExampleFade2" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active hero">
            <div class="hero-section">
                <img src="{% static 'images/Hero/heist.jpg' %}" alt="">
            </div>
            <div class="hero-wrapper">
                <div class="hero-content">
                    <div class="hero-title">
                        <h2>Money Heist</h2>
                    </div>
                    <div class="hero-info">
                        <span class="d-flex ">
                            <iconify-icon style="color:yellow;" class="stars" icon="ic:round-star">
                            </iconify-icon>9.5
                        </span>
                        <span class="d-flex">
                            <iconify-icon icon="mingcute:time-line" class="stars " style="color:white">
                            </iconify-icon>180 mins
                        </span>
                        <span>UHD</span>
                        <span>16+</span>
                    </div>
                    <div class="hero-des">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa voluptas excepturi
                        molestiae facere assumenda.
                    </div>
                    <div class="hero-btn d-flex gap-2">
                        <button class="btn watch-now d-flex" style="border: 2px solid red;">Play Now </button>
                        <button class="btn watch-now d-flex" style="border: 2px solid white;">Watch Later</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item hero">
            <div class="hero-section">
                <img src="{% static 'images/Hero/kuroko.jpg' %}" alt="">
            </div>
            <div class="hero-wrapper">
                <div class="hero-content">
                    <div class="hero-title">
                        <h2>Kuroko's Basketball</h2>
                    </div>
                    <div class="hero-info">
                        <span class="d-flex">
                            <iconify-icon style="color:yellow;" class="stars" icon="ic:round-star">
                            </iconify-icon>7.5
                        </span>
                        <span class="d-flex">
                            <iconify-icon icon="mingcute:time-line" class="stars " style="color:white">
                            </iconify-icon>120 mins
                        </span>
                        <span>HD</span>
                        <span>16+</span>
                    </div>
                    <div class="hero-des">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa voluptas excepturi
                        molestiae facere assumenda.
                    </div>
                    <div class="hero-btn d-flex gap-2">
                        <button class="btn watch-now d-flex" style="border: 2px solid red;">Play Now </button>
                        <button class="btn watch-now d-flex" style="border: 2px solid white;">Watch Later</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item hero">
            <div class="hero-section">
                <img src="{% static 'images/Hero/transformer-banner.jpg' %}" alt="">
            </div>
            <div class="hero-wrapper">
                <div class="hero-content">
                    <div class="hero-title">
                        <h2>Transformer</h2>
                    </div>
                    <div class="hero-info">
                        <span class="d-flex ">
                            <iconify-icon style="color:yellow;" class="stars" icon="ic:round-star">
                            </iconify-icon>8.5
                        </span>
                        <span class="d-flex">
                            <iconify-icon icon="mingcute:time-line" class="stars " style="color:white">
                            </iconify-icon>180 mins
                        </span>
                        <span>HD</span>
                        <span>16+</span>
                    </div>
                    <div class="hero-des">
                        Ipsa voluptas excepturi molestiae facere assumenda, veniam dolores. Minus nobis earum
                        omnis.
                    </div>
                    <div class="hero-btn d-flex gap-2">
                        <button class="btn watch-now d-flex" style="border: 2px solid red;">Play Now </button>
                        <button class="btn watch-now d-flex" style="border: 2px solid white;">Watch Later</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item hero">
            <div class="hero-section">
                <img src="{% static 'images/Hero/supergirl-banner.jpg' %}" alt="">
            </div>
            <div class="hero-wrapper">
                <div class="hero-content">
                    <div class="hero-title">
                        <h2>Super Girl</h2>
                    </div>
                    <div class="hero-info">
                        <span class="d-flex ">
                            <iconify-icon style="color:yellow;" class="stars" icon="ic:round-star">
                            </iconify-icon>8.5
                        </span>
                        <span class="d-flex">
                            <iconify-icon icon="mingcute:time-line" class="stars " style="color:white">
                            </iconify-icon>180 mins
                        </span>
                        <span>HD</span>
                        <span>16+</span>
                    </div>
                    <div class="hero-des">
                        Ipsa voluptas excepturi molestiae facere assumenda, veniam dolores. Minus nobis earum
                        omnis.
                    </div>
                    <div class="hero-btn d-flex gap-2">
                        <button class="btn watch-now d-flex" style="border: 2px solid red;">Play Now </button>
                        <button class="btn watch-now d-flex" style="border: 2px solid white;">Watch Later</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade2" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade2" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>